<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deal Finder</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js">
    <script src="{{url_for('static', filename='js/actions.js')}}"></script>
</head>

<body>
<header class="sticky-header">
    <div class="header-content">
        <h1>Deal Finder</h1>
        <div class="header-buttons">
            <button class="cart-button" onclick="window.location.href='/list'">
                <img src="{{url_for('static', filename='img/cart.png')}}" alt="List">
            </button>
            <form action="/update" method="post">
            <button class="update-button" type="submit">
                <img src="{{url_for('static', filename='img/refresh.png')}}" alt="Update">
            </button>
            </form>
        </div>
        <input class="filter_input" @input.debounce="const search = $el.value.toLowerCase()
            for(const row in rowData){
                if(!rowData[row].store.toLowerCase().includes(search)
                || !rowData[row].item.toLowerCase().includes(search)){
                rowData[row].filtered = true;
            }
        ">
    </div>
</header>

<main>
    <div class="deals"
    x-data="{rowData:[]}">
        {% for deal in deals %}
        <div class="deal-row" id="{{ deal.id }}"
             x-data="{store: {{ deal.store|tojson }}, item: {{ deal.item}|tojson }}, filtered: false}"
             x-init="rowData['{{ deal.id }}'] = $data"
             x-show="!filtered"
        >
            <div class="deal-info">
                <span class="store">{{ deal.store }}</span>
                <span class="item">{{ deal.item }}</span>
                <span class="price">{{ deal.price }}</span>
            </div>
            <div class="deal-actions">
                <button class="action-button hide" data-id="{{ deal.id }}">
                    <img src="{{url_for('static', filename='img/hide.png')}}" alt="Hide">
                </button>
                <button class="action-button pin" data-id="{{ deal.id }}">
                    {% if deal.favorite -%}<img src="{{url_for('static', filename='img/unpin.png')}}" alt="Un-Favorite">{%- else -%}<img src="{{url_for('static', filename='img/pin.png')}}" alt="Favorite">{%- endif -%}
                </button>
                <button class="action-button save" data-id="{{ deal.id }}">
                    {% if deal.save -%}<img src="{{url_for('static', filename='img/remove.png')}}" alt="Un-Save">{%- else -%}<img src="{{url_for('static', filename='img/save.png')}}" alt="Save">{%- endif -%}
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
</body>

</html>
